{{include file="tpl-header.html"}}
<body>
<div id="body">
 {{include file="tpl-menu.html"}}
 <div id="banner" style="background:#fff url('{{php}}echo IMG_DIR{{/php}}/banner_news.jpg') no-repeat;"></div>
 <div id="content">
  <div id="ct_lt">
	{{include file="tpl-menu-tree.html"}} 
  </div>
  <div id="ct_rt">
   <div><h2 class="title">新闻中心</h2><h3 class="e_title">news</h3></div>
   <div class="nav"><a href="/">首页</a> &gt; 新闻中心</div>
   <div class="sm_title"></div>   
   <div class="content">
    <dl>
     {{section name=loop loop=$news}}
     <dt><span>{{$news[loop].created|date_format:"%Y.%m.%d"}}</span><a href="/index.php/News/Desc/id/{{$news[loop].newsid}}">{{$news[loop].title|strip_tags|cntruncate:80:"...":true}}</a></dt>
     {{/section}}
    </dl>
   </div>
  </div>
 </div>
 <div style="clear:both"></div>
{{include file="tpl-footer.html"}}
</div>
</body>
</html>
