 <div id="footer">
 辽宁万维医药有限公司. All rights reserved.
沈阳市沈河区奉天街346号格林自由城B座27-05号 Tel.024-88522088  admin@lnwwyy.com<br /><br />
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10-blue"
        alt="Valid XHTML 1.0 Transitional" height="31" width="88" /></a>
    <a href="http://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
            src="http://jigsaw.w3.org/css-validator/images/vcss"
            alt="Valid CSS!" />
    </a>
  </div>