<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>菲比新娘www.syfeibi.com</title>
<script type="text/javascript" src="../Stuff/js/jquery-1.3.2.min.js"></script>
<script defer="defer" type="text/javascript" src="../Stuff/js/jquery.pngFix.pack.js"></script>
<script defer="defer" type="text/javascript" src="../Stuff/js/common.js"></script>
<link rel="stylesheet" type="text/css" href="../Stuff/css/style.css" />
<script language="javascript">
function test(){
 document.getElementById("ss").previousSibling.appendChild("../Stuff/images/album_button_hs_no.png");
}
</script>
</head>

<body>
<a id="test" href="javascript:test();"><img id="ss" src="../Stuff/images/album_button_hs_sel.png" /></a>
</body>

</html>