{{include file="tpl-header.html"}}
<body>
<div id="body">
 {{include file="tpl-menu.html"}}
 <div id="banner" style="background:#fff url('{{php}}echo IMG_DIR{{/php}}/banner_us.jpg') no-repeat;"></div>
 <div id="content">
  <div id="ct_lt">
	{{include file="tpl-menu-tree.html"}} 
  </div>
  <div id="ct_rt">
   <div><h2 class="title">关于我们</h2><h3 class="e_title">about us</h3></div>
   <div class="nav"><a href="/">首页</a> &gt; 关于万维</div>
   <div class="sm_title"></div>   
   <div>
    <h3>辽宁万维医药有限公司</h3>
    <p  class="content contactus"  style="text-indent:30px; height:300px;">
<strong>辽宁万维医药有限公司</strong>是以优秀的研发力量和渠道经营能力脱颖而的高科技医药企业。我们通过努力的提高我们产品的研发能力来不断的为我们的伙伴提供最有力的产品组合和优异的服务。你的优势和我们的优势将会组合成市场的胜势。
      本公司现在隆重推出甲磺酸二氢麦角碱冻干粉针（商品：<strong>思清</strong>），是<strong>美国FDA</strong>唯一确认的治疗老年认知障碍药物，用于治疗：急性缺血性脑卒中（中风），卒中后状态（中风后遗症），脑外伤后遗症，外周血管疾病（血管栓塞性脉管炎，动脉硬化和糖尿病引起的神经功能紊乱）。
发改委定价46元/支，全国最高价。
2009年国家批准生产国家级新药“柴芩清宁胶囊”用于治疗：清热解毒，和解表里。用于发热恶寒、咽痛流浊涕等上呼吸道感染之邪在肺卫证。三个规格（18粒/盒、24粒/盒、36粒/盒。）全国独家品种。
    </p>
   </div>
  </div>
 </div>
 <div style="clear:both"></div>
{{include file="tpl-footer.html"}}
</div>
</body>
</html>
