<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后台管理界面</title>
<link href="{{php}}echo CSS_DIR{{/php}}/admin.css" rel="stylesheet" type="text/css">
<style type="text/css">

</style>
</head>

<body>
 <div id="body">
  <div id="header">
   <h1>零壹科技网站后台</h1>
   <ul></ul>
  </div>
  <div id="state">
   <span id="nav"><a id="home" href="/">网站首页</a> <a id="exit" href="">安全退出</a></span>
   <span id="date">现在时间:****年**月**日</span>
  </div>
  <div id="content">
   <div id="ct_lt">
    <div id="menu">
     <h2><a href="">ss</a></h2>
     <h2><a href="">ss</a></h2>
     <h2><a href="">ss</a></h2>
    </div>
    <div id="contact">
     <h2>技术支持</h2>
     <p>联系电话</p>
     <p>QQ</p>
     <p>EMAIL</p>
    </div>
   </div>
   <div id="ct_rt">
    <table width="500px" >
     <thead>
      <tr><td></td><td>&nbsp;</td></tr>
     </thead>
     <tbody>
      <tr>
       <td></td><td></td>
      </tr>
     </tbody>
    </table>
   </div>
  </div>
  <div id="footer">
   <h3>POWERED BY 零壹科技© 2008-2009 辽宁万维医药 All Rights Reserved.</h3>
  </div>
 </div>
</body>

</html>
